// layout responsive

$xs-device: "(max-width: 575px)";

$sm-device: "(min-width: 576px)";

$md-device: "(min-width: 768px)";

$lg-device: "(min-width: 992px)";

$xl-device: "(min-width: 1200px)";

$xxl-device: "(min-width: 1400px)";
